:root {
	--themeColor: #e71a1e;
	--boxShadow: rgba(0, 0, 0, 0.25);
	--tableShadow: rgba(109, 104, 99, 0.25);
	--black: #000000;
	--whiteInsideTheme: #ffffff;
	--invalid: rgb(246, 95, 95);
	--primaryDarkBorder: #504f4f;
	--primaryBorder: #d3d3d3;
	--primaryIconColor: #dddddd;
	--textColor: #444444;
	--labelColor: #676767;
	--mainBg: #faf5f0;
}
