/* You can add global styles to this file, and also import other style files */

/* Font Declarations */
  @font-face {
    font-family: 'regular';
    src: url('./fonts/HelveticaNeue-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  html {
	body {
		font-size: 14px;
		font-family: "regular";
		.font_family_body {
			font-family: "regular";
		}
		.font_body {
			font-size: 14px;
		}
		.font_11 {
			font-size: 11px;
		}
		.font_12 {
			font-size: 12px;
		}
		.font_13 {
			font-size: 13px;
		}
		.font_16 {
			font-size: 16px;
		}
		.font_20 {
			font-size: 20px;
		}
		.font_weight_bold {
			font-family: "bold";
		}
		.font_weight_black {
			font-family: "black";
		}
		.font_weight_medium {
			font-family: "medium";
		}
		.font_weight_thin {
			font-family: "light";
		}
		.font_weight_regular {
			font-family: "regular";
		}
	}
}

  